---
import Layout from '~/layouts/PageLayout.astro';

import type { MetaData } from '~/types';
import { createBreadcrumbSchema } from '~/utils/structured-data';

export interface Props {
  frontmatter: {
    title?: string;
    description?: string;
    robots?: MetaData['robots'];
  };
}

const { frontmatter } = Astro.props;

const metadata: MetaData = {
  title: frontmatter?.title,
  description: frontmatter?.description,
  robots: frontmatter?.robots,
  structuredData: createBreadcrumbSchema([{ name: 'Home', item: '/' }, { name: frontmatter?.title || 'Page' }]),
};
---

<Layout metadata={metadata}>
  <article class="mx-auto max-w-6xl px-4 py-14 sm:px-6 lg:py-20">
    <div
      class="prose prose-slate max-w-3xl dark:prose-invert prose-headings:font-semibold dark:prose-headings:text-white dark:prose-p:text-slate-400 dark:prose-li:text-slate-400 prose-a:text-primary dark:prose-a:text-slate-200 prose-li:my-0"
    >
      <h1>{frontmatter.title}</h1>
      <slot />
    </div>
  </article>
</Layout>
